<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<th:block th:fragment="footer">-->
<!--    <footer>-->
<!--        <div class="mt-5">-->
<!--            <div class="text-center">-->
<!--                <p>-->
<!--                    <small class="text-muted">Copyright © Hnev.log Tistory Corp. All Rights Reserved.</small>-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </footer>-->
<!--</th:block>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="FooterFragment">
    <!-- Footer 내용 -->
    <div class="text-center">
        &copy; 2023 Your Company. All rights reserved.
    </div>
</footer>
</html>
